.header_navbar {
   text-align: center;
}

.header_navbar_menu {
   margin: 32px 0;
   list-style: none;
}

.navbar_menu-list {
   display: inline;
   font-size: 18px;
   padding-right: 30px;
}

.navbar_link {
   color: #000;
}

.image_block {
   background-color: #00BDC9;
}

.image_block_pic {
   display: block;
   margin: 0 auto;
   padding: 92px 0;
}

.info_block {
   margin-top: 88px;
}

.info_block_title {
   text-align: center;
   font-size: 48px;
   font-weight: 600;
   margin-bottom: 40px;
}

.info_block_text {
   color: #161616;
   font-size: 21px;
   font-weight: 500;
   width: 856px;
   margin: 0 auto 24px;
}
.color_text {
   color: #04959E;
   font-weight: 600;
}

.info_block_menu {
   width: 856px;
   margin: 0 auto 40px;
}
.info_block_menu-list {
   color: #161616;
   font-size: 18px;
   line-height: 150%;
}

.button_block {
   text-align: center;
   margin-bottom: 88px;
}
.btn {
   background-color: #04959E;
   border: none;
}
.btn a {
   display: block;
   padding: 10px 24px;
   color: #fff;
   font-size: 18px;
   line-height: 135%;
}

.footer {
   border-top: 1px solid #161616;
}

.footer_text {
   text-align: center;
   color: #161616;
   font-size: 18px;
   padding: 16px 0;
   line-height: 150%;
}